.card-sleeve-gray {
  background-color: "#424242";
}

.card-sleeve-ocean {
  background-color: "#3D4665";
}

.card-sleeve-ocean {
  background-color: "#3D4665";
}

.card-sleeve-teal {
  background-color: "#188F91";
}

.card-sleeve-hazel {
  background-color: "#9A644D";
}

.wallet-chocolate {
  background-color: "#562F0B";
}

.note-sleeve-ranger-green {
  background-color: "#6C7F4D";
}

.note-sleeve-java {
  background-color: "#562F0B";
}

.note-sleeve-hazelnut {
  background-color: "#99654D";
}

.note-sleeve-cocoa {
  background-color: "#894405";
}

.note-sleeve-teracotta {
  background-color: "#BC7049";
}
